.tableContentWrapper {
    display: flex;
    align-items: center;
}
.tableValueWrapper {
    flex-grow: 1;
    padding-left: 12px;
    margin-bottom: 10px;
}
.trackName {
    line-height: 0;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 12px;
}
.trackArtist {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    margin-left: 10px;
}
.trackArtist:hover {
    border-bottom: 1px solid #b3b3b3;
}
.trackCount {
    font-size: 16px;
    font-weight: 400;
    color: #b3b3b3;
}
.trackDuration {
    font-size: 14px;
    font-weight: 400;
    color: #a7a7a7;
    margin-right: 16px;
}
.artistWrapper:last-child {
    padding-top: 10px;
}
